@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #03021a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 2rem;
}

.resultContainer::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: #e0cbcb;
}
.resultContainer::-webkit-scrollbar-thumb {
  background: #d2a231;
  border-radius: 10px;
}

@layer utilities {
  .cta {
    @apply text-black border-2 p-2 rounded-xl w-48 max-md:w-36 max-md:text-xs text-center;
  }
}
