@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040228;
    --foreground: #ffffff;
  }
}

* {
  white-space: pre-line;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.resultContainer::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: #e0cbcb;
}
.resultContainer::-webkit-scrollbar-thumb {
  background: #d2a231;
  border-radius: 10px;
}

@layer utilities {
  .mainSection {
    @apply mx-auto w-full max-w-7xl p-4 py-6 lg:py-8 mt-16 border-3 border-amber-400;
  }

  .secondarySection {
    @apply mb-8 p-4 gap-2;
  }

  .cardGrid {
    @apply grid grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-8 justify-items-center;
  }

  .twoItems {
    @apply flex max-lg:flex-col-reverse justify-center items-center mt-8;
  }

  .marginTop {
    @apply mt-8;
  }

  .marginBottom {
    @apply mb-8;
  }

  .publicationCard {
    @apply text-xs h-16 px-4;
  }

  .cta {
    @apply text-black border-2 border-white p-2 rounded-xl w-48 max-md:w-36 max-md:text-xs text-center;
  }

  .readLink {
    @apply text-black border-2 border-green-500 rounded-md w-24 text-center m-4;
  }

  .categoryLink {
    @apply text-black border-2 bg-blue-500 h-8 border-white rounded-md w-36 text-sm max-md:text-xs text-center;
  }

  .blueBG {
    @apply bg-blue-500 hover:bg-blue-500/60;
  }

  .purpleBG {
    @apply bg-purple-500 hover:bg-purple-500/60;
  }

  .redBG {
    @apply bg-red-500 hover:bg-red-500/60;
  }

  .yellowBG {
    @apply bg-yellow-500 hover:bg-yellow-500/60;
  }

  .grayBG {
    @apply bg-gray-500 hover:bg-gray-500/60;
  }

  .greenBG {
    @apply bg-green-500 hover:bg-green-500/60;
  }

  .formInput {
    @apply w-full rounded-md border border-gray-300 bg-white py-3 px-6 text-base font-medium text-gray-900 outline-none focus:border-purple-500 focus:shadow-md;
  }

  .formLabel {
    @apply mb-4 block text-base font-medium;
  }
}
